<header>
    <nav>
        <div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/realtimeproducts">Real Time Products</a></li>
                <li><a href="/api/sessions/current">Informacion del usuario</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div>
        <h1>Lista de productos comprados y informacion de tickets de compra</h1>
        <div>
            <h2>Todos tus tickets de compra informacion:</h2>
            <ul>
                {{#each auxTickets}}
                <li>
                    id : {{this._id}}<br>
                    codigo de compra : {{this.code}}<br>
                    Dia de la compra : {{this.purchase_datetime}}<br>
                    Total : {{this.amount}}<br>
                    Comprador : {{this.purchaser}}<br>
                </li><br>
                {{/each}}
            </ul>
        </div>
        <div>
            <h3>Productos comprados:</h3>
            <ul>
                {{#each products}}
                <li>
                    id : {{this._id}}<br>
                    cantidad comprada : {{this.quantity}}<br>
                    titulo : {{this.title}}<br>
                    descripcion : {{this.description}}<br>
                    codigo : {{this.code}}<br>
                    precio : {{this.price}}<br>
                    status : {{this.status}}<br>
                    categoria : {{this.category}}<br>
                    miniaturas : {{this.thumbnails}}<br>
                </li><br>
                {{/each}}
            </ul>
        </div>
    </div>
</main>